.max-h-screen.overflow-auto
  .bg-coolGray-100.px-4.py-3.transition-light-dark(class="sm:px-6 sm:flex sm:flex-row sm:justify-between dark:bg-gray-600")
    .my-3.text-center.w-full(class="sm:text-left")
      .text-lg.leading-6.font-medium.text-gray-900.text-center(class="dark:text-white")
        h3.leading-6.font-medium.text-gray-900(
          class="dark:text-white",
          style="font-size: 1.75rem; line-height: 1.75rem; font-weight: 500"
        ) {{ $t(i18nPrefix + 'title') }}

  .bg-white.px-4.pt-5.pb-4.transition-light-dark(class="sm:p-6 sm:pb-4 dark:bg-gray-700")
    div(class="sm:flex sm:items-start sm:flex-col")
      h4.title {{ $t($data.i18nPrefix + 'title') }}

      .mt-4.w-full
        t-label(
          :label="$t('components.promotion_message_builder.config')",
          label-for="ipmConfig",
          :type="{ 'is-danger': errors.template.found }",
          :message="errors.template.found ? errors.template.message : ''"
        )
          t-input(
            inputId="ipmConfig",
            v-model.trim="template",
            name="config",
            :placeholder="$t(i18nPrefix + 'config_placeholder')",
            :isInvalid="errors.template.found"
          )

      .mt-4.w-full
        t-label(:label="$t('components.promotion_message_builder.message_preview')", label-for="ipmMessagePreview")
          t-input(
            inputId="ipmMessagePreview",
            :as="nbMultiLine(resultMessage) ? 'textarea' : 'input'",
            :rows="nbMultiLine(resultMessage) ? nbMultiLine(resultMessage) : undefined",
            v-model.trim="resultMessage",
            name="ipmMessagePreview",
            isDisabled
          )

      .mt-4.mb-2.w-full
        t-label(
          :label="$t('components.promotion_message_builder.template_name')",
          label-for="ipmTemplateName",
          :type="{ 'is-danger': errors.templateName.found }",
          :message="errors.templateName.found ? errors.templateName.message : ''"
        )

      .t-columns.mb-4.space-y-4.space-x-0(class="sm:space-y-0 sm:space-x-4")
        .w-full(class="sm:w-1/2")
          t-input(
            inputId="ipmTemplateName",
            type="text",
            v-model.trim="templateName",
            name="ipmTemplateName",
            :isInvalid="errors.templateName.found"
          )
        .w-full(class="sm:w-1/2")
          t-button(
            type="success",
            @click="save",
            :disabled="!template || !template.length || errors.template.found || !templateName || !templateName.length || errors.templateName.found",
            expanded
          ) {{ $t('utils.Save') }}

  .bg-coolGray-100.px-4.py-3.space-x-0.space-y-4.transition-light-dark.flex.flex-col(
    class="sm:px-6 sm:flex sm:flex-row sm:justify-between sm:space-x-4 sm:space-y-0 dark:bg-gray-600"
  )
    t-button(:title="$t('utils.Close')", :label="$t('utils.Close')", @click="$parent.$parent.close()", type="success")
